/* Lillie Monster - Main Stylesheet */

/********** GLOBAL **********/

/*
PALETTE:
red       : #ff0000;
light red : #ff4c4c;
black     : #000000;
dark grey : #404040;
white     : #ffffff;
*/

/***** Fonts/Icons *****/
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src:url('../fonts/Raleway-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Varela';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/Varela-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?sqnzfn');
	src:url('../fonts/icomoon.eot?#iefixsqnzfn') format('embedded-opentype'),
		url('../fonts/icomoon.woff?sqnzfn') format('woff'),
		url('../fonts/icomoon.ttf?sqnzfn') format('truetype'),
		url('../fonts/icomoon.svg?sqnzfn#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE60A:before {
	content: "\e60a";
}
.icon-uniE603:before {
	content: "\e603";
}
.icon-uniE604:before {
	content: "\e604";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-instagram:before {
	content: "\e601";
}
.icon-twitter:before {
	content: "\e602";
}
.icon-uniE605:before {
	content: "\e605";
}
.icon-uniE606:before {
	content: "\e606";
}
.icon-uniE607:before {
	content: "\e607";
}
.icon-uniE608:before {
	content: "\e608";
}
.icon-uniE609:before {
	content: "\e609";
}

/***** General *****/
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-weight: 400;
  background-color: #FFFFFF;
  box-sizing: border-box;
  min-height: 100%;
}

p {
    padding-top: 10px; 
    padding-bottom: 10px;
}

body, p {
    font-family: 'Varela', sans-serif;
    font-size: 1em;
}

h1 {
    font-size: 2em;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

ul, ol {
  font-size: 19px;
}

/* Fix bullets on li items from components file */
ul li::before {
    display: none;
}

/* CSS Support */

.clear { 
    clear: both; 
}


/********** LAYOUT **********/


/***** Navigation *****/
body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  overflow: hidden;
  z-index: 1;
    
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 60px;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.app-bar-container button:first-child {
    margin-right: auto;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
          transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  line-height: 60px;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: 2;       
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  width: 60px;
  height: 60px;
}

.app-bar button:hover {
  color: #f00;
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  color: #f00;
}

button.menu img {
  height:24px;
  width: 24px;
}

.promote-layer {
  /*
  This may promote the layer to a composited
  layer.

  Replace with will-change when available

  #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #fff;
  color: #fff;
  -webkit-transform: translate(-250px, 0);
          transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.app-bar, .navdrawer-container, main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
          transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: auto;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #000;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: black;
  -webkit-transition: background-color 0.2s ease-out;
          transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  /* Height of the header */
  padding: 60px 16px 16px 16px;
  min-height: 100%;
}

/* Highlight Navigation Items */
.menuHighlight:hover img,
.menuHighlight img:hover { 
	padding-bottom: 2px;
	border-bottom: 3px solid red; 
}

.active { 
	padding-bottom: 2px;
	border-bottom: 3px solid red; 
}

.navdrawer-container ul li:first-child {
    border-top-style: solid;
    border-top-color: #000;
}


/***** Header *****/
.logoHeader {
    padding-left: 3px;
}


/***** Footer *****/
.bottom {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    padding-bottom: 5px;
    padding-top: 10px;
}

.bottom a {
    font-weight: bold;
    text-decoration: none;
    color: #ff4c4c;
}

.bottom a:visited {
    color: #ff4c4c;
}

.bottom a:hover {
    color: #ff0000;
}

.bottom a:active {
    color: #ff0000;
}

/********** CONTENT (MOBILE-FIRST) **********/


/***** Home Page *****/

.showcase {
    padding-bottom: 8px;     
}

/* Center Instagram iframe widget inside containing div */
div.instacenter iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center Facebook Like Box */
div.fb-like {
    width: 100% !important; 
    position: relative;          
    text-align:center !important;
}

/*Center Showcase Photo & Logo */
.center {
    display: block;
    margin: auto;
}

/* Create Flexbox Layout */
.layout {
    display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
}

.c1, .c2, .c3 {
      width: 100%;
    }

/***** Contact Page *****/

/* Contact Form */
#contact-monster {
    background-color: rgba(255, 76, 76, 0.2);
    padding: 1em;
}

#contact-monster legend {
    font-weight: bold;
    color: #000;
}

#contact-monster label {
    display: block;
}

input[type=radio] { 
    float:left; 
    clear:none;
    margin-top: 6px;
    margin-right: 2px;
}

input[type=text], input[type=email], input[type=tel], input[type=url], input[type=submit], textarea { width: 100%; }

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
outline-color: #f00;
}

fieldset {
padding-bottom: 25px;
}

input[type=submit] {
    color: #ffffff;
    background-color: rgba(255, 0, 0, 0.8);
    border: none;
    padding: 10px;
}

textarea {
    height: 150px;
}

#message-monster {
    margin-top: 10px;
}

#highlight-form-item {
    font-weight: bold;
}

/**** Portfolio Page ****/

.portfolio-layout {
    padding-bottom: 10px;
}

/* Photo Gallery */
.gallery {
    width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
}

.gallery li {
	float: left;
	width: 100%;
	margin: 2.5%;
	background-color: rgba(255, 76, 76, 0.2);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;    
}


.gallery li:hover {
	background-color: rgb(255, 76, 76);
}

.gallery li:active {
	background-color: rgb(255, 0, 0);
}

.gallery li a {
    display: block;
	width: 100%;
    position: relative;
    height: 0;
    padding: 56.25% 0 0 0;
    overflow: hidden;
}

.gallery li a img {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 1;
    margin: auto;
}

/* Gallery Navigation */
.gallery-nav {
    display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  border: none;   
}

.gallery-nav button {
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
}

.gallery-num {
    color: #f00;
}

.gallery-nav button:hover, button:focus, button:active {
    color: #f00;
    outline: none;
}

.gallery-nav-fullscreen {
    display: none;
}

/***** Resume Page *****/

.standout {
    border-style: solid none;
    border-width: thin;
    border-color: rgba(255, 76, 76, 0.6);
    padding: 0;
}

.resume-subject {
    font-weight: bold;
    color: #000;
}

.resume-layout {
    padding-bottom: 10px;
}

.resume-layout div ul {
    padding-top: 0;
}
.resume-layout div ul li {
    font-size: 75%;
    padding-left: 0;
}

.resume-highlight {
    font-weight: bold;
}

#view-pdf {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    margin-top: 20px;
}

/*** Media Queries ***/

@media (min-width: 360px) {
    /** Portfolio Page - Medium View **/
    .gallery li {
        width: 45%;
    }
    
}


@media (min-width: 530px) {
    /** Home Page - Medium View **/
    .c1 {
        width: 50%;    
        -webkit-order: 2;
        order: 2;
    }

    .c2 {
        width: 50%;
        -webkit-order: 3;
        order: 3;
        padding-top: 11px;  
    }

    .c3 {
        width: 100%;
        -webkit-order: 1;
        order: 1;
    }
       
}


@media (min-width: 540px) {
    /** Contact Page - Medium View **/
    main {
        max-width: 540px;
    }
    
    input[type=submit] { 
        width: 60%; 
        display: block;
        margin: auto;
    }    
    
    /** Portfolio Page - Medium View (increase icon size for gallery nav) **/
    .icon-uniE603, .icon-uniE604, .icon-uniE605, .icon-uniE606, .icon-uniE607, .icon-uniE608, .icon-uniE609 {
        font-size: 24px;
    }        
    
}


@media (min-width: 830px) {
    /** Contact Page - Medium/Wide View **/
    main {
        max-width: 600px;
    }
    
}

@media all and (min-width: 990px) {
    
/** Home Page - Wide View **/
    
 main.layout {
    max-width: 100%;
    padding-top: 0;
    min-height: initial;
  }
    
.c1 {
    width: 15%;
    -webkit-order: 1;
    order: 1;
     -webkit-flex: 1 0 0;
     flex: 1 0 0;
    padding-top: 2px;
}
      
.c2 {
    width: 15%;
    -webkit-order: 3;
    order: 3;
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}
      
.c3 {
    width: 70%;
    -webkit-order: 2;
    order: 2;
    -webkit-flex: 2 0 0; 
    flex: 2 0 0; 
} 
        
div.c3 img {
    max-width: 80%;
}
 
.twitbox {
    width: 230px;
    float: right;
}

div.instacenter iframe {
    display: block;
    margin-left: 0;
    margin-right: auto;
}

/** Portfolio Page - Wide View **/
    
main.portfolio-layout {
    max-width: 100%;
    padding-top: 0px;
}
    
.gallery li {
    width: 28%;
}    
    
.portfolio-header {
    max-width: 827px;
    margin: 0 auto;
    padding: 0px 16px;
} 

/* Hide small gallery nav */   
.gallery-nav { 
    display: none; 
}
    
/* Show full screen expanded gallery nav */   
.gallery-nav-fullscreen {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    border: none;   
}

.gallery-nav-fullscreen button {
    background-image: none;
    background-color: transparent;
    border: none;
    padding: 0px 20px;
}

.gallery-nav-fullscreen button:hover, button:focus, button:active {
    color: #f00;
    outline: none;
}      
   
/** Contact Page - Wide View **/

main.contact-layout {
    max-width: 827px;
    padding-top: 0;
    min-height: initial;
 }

input[type=text], input[type=email], input[type=tel], input[type=url], textarea { 
    width: 80%; 
}

    input[type=submit] { 
    width: 40%;
    display: block;
    margin: auto;
}
    
fieldset {
padding-left: 100px;
}

    
.form-layout-fix {
    display: inline-block;
    float: left;
    padding-right: 30px;
}

#message-monster {
    clear: left;
    margin-top: 40px;
}
    
#message-monster input[type=text], textarea {
    width: 90%;
}
    
/** Navigation - Wide View **/

  .app-bar {
    position: relative;
  }

  .app-bar.open,
  .app-bar.open ~ main {
    -webkit-transform: translate(0px, 0);
            transform: translate(0px, 0);
  }

  .app-bar-container {
    display: block;
    height: 130px;
    max-width: 864px;
    padding: 0 16px;
    box-sizing: border-box;
    background-color: #fff;
  }

  .app-bar .logo {
    float: left;
    margin: 0;
    padding: 0;
    line-height: 130px;
    font-size: 46px;
  }

  .app-bar-actions {
    float: right;
  }

  .app-bar::after {
    content: ' ';
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
  }

  button.menu {
    display: none;  
  }   

  nav {
    display: block;
    margin-top: 130px;
  }

  .navdrawer-container {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 130px;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    -webkit-transition: none;
            transition: none;
    overflow-y: auto;
  }

  .navdrawer-container h4 {
    display: none;
  }
    
.app-bar-container {
    display: none;
    }

  .navdrawer-container ul {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 864px;
    margin: 0 auto;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .navdrawer-container ul li {
    border: none;
  }    

  body {
    overflow-y: scroll;
  }

  .navdrawer-container {
    position: relative;
    margin-top: 0;
  }
    
    /* Nav Fix for Wide Viewport */
    .navdrawer-container ul li:first-child {
        border-top-style: none;
    }

    .navdrawer-container ul li {
      margin: auto;
    }         
   
}


